#scandal_app{
	position:relative;
	padding:10px;
}

.input{
	display:none;
}
#preview_img,#preview_detect,#preview_cropped{
	max-width:256px;
}
#imageCanvas{
	max-width:256px;
	max-height:456px;	
}


